<ion-modal-view class="modal-reserve">
  <ion-content class="has-modal-footer pad-ms">
    <div>
      <div class="reserve-box">
        {{ 'CONFIRM' | translate }}
        <div class="product-qty">
          <span>
                {{'CLICK_CLEAR_TO_CLEAR_CART' | translate}}
          </span>
        </div>
      </div>
    </div>
  </ion-content>
  <div class="modal-footer">
    <button class="button button-clear button-energized pull-left" ng-click="viewClearBox.back();">{{ 'CANCEL' | translate }}</button>
    <button class="button button-clear button-energized pull-right" ng-click="$root.clearCart();">{{ 'CLEAR_' | translate }}</button>
    <!-- <button class="button button-clear button-energized pull-right" ng-click="confirmPayment()" ng-if="$root.currentOrderType.id != 2">{{ 'CONFIRM' | translate }}</button> -->

  </div>
</ion-modal-view>
